<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="sample_id">
    <environment id="sample_id">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.sqlite.JDBC"/>
<!--<property name="url" value="jdbc:sqlite:file:///C:/Users/sian/git/bootcamp/shop/db/shop.db"/>-->        
        <property name="url" value="jdbc:sqlite:file:///C:/Users/sian1/git/bootcamp/shop/db/shop.db"/><!-- dbのファイルパス -->
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="login.xml"/>
  </mappers>
</configuration>